parameters:
    level: max
    paths:
        - src
        - tests
        - app.php
    tmpDir: var/phpstan
    ignoreErrors:
        -
            identifiers:
                - cast.string
                - cast.int
